body{
    margin: 0 auto;
    color: aliceblue;
    overflow: hidden;
}
.contents{
    margin-top: 2%;
}
.window-selection{
    width: 100%;
}

#graphs{
    max-height: 80rem;
    overflow: auto;
}
label{
    color: aliceblue;
}

.tabs-content.carousel {
    height: 92vh;
}

.chart{
    justify-content: center;
    display: inline-flex;
}

.chart-container{
    display: table;
}

#os-dist {
    width: 100%;
    height: 100%;
}
.ip-list {
    max-height: 300px; /* Prevents excessive height */
    position: relative; /* Keeps it from affecting the page layout */
}

#network-diagram{
width: 100%;
height: 92rem;
}

.search{
    max-height: 45vh;
    overflow: auto;
}

.dataTables_wrapper{
/* background-color: #424242; */
margin-top: 0vh;
}
.dataTables_filter{
    position: relative;
    right: 2vw;
}
.dataTable{
    background-color: #424242;
    padding-right: 50px;
    
}
.dataTables_paginate{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
    background-color: #424242;
}
.dataTables_length label {
    display: none;
}
.filters{
    padding-bottom: 10px;
    display: inline-flex;
}
.filter{
    margin-top: 1rem;
}
.dropdown-content{
    background-color: #424242;
}

.select-wrapper input.select-dropdown{
color: aliceblue;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #424242 ;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #212121 ;
    min-height: 10px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #263238 ;

  }
  td{
    background-color: #424242;
  }

#subnets-container{
    height: 33rem;
    overflow-x: auto;
}