body{
    margin: 0 auto;
    color: aliceblue;
    overflow: hidden;
}
.contents{
    margin-top: 2%;
}
.window-selection{
    width: 100%;
}

#graphs{
    max-height: 82vh;
    overflow: auto;
}
label{
    color: aliceblue;
}

.tabs-content.carousel {
    height: 92vh;
}

.chart{
    justify-content: center;
    display: inline-flex;
}

.chart-container{
    display: table;
}

#os-dist {
    width: 100%;
    height: 100%;
}
#network-diagram{
width: 100%;
height: 92vh;
}

.search{
    max-height: 45vh;
    overflow: auto;
}

.dataTables_wrapper{
background-color: #424242;
margin-top: 4vh;
}
.dataTables_filter{
    position: relative;
    right: 2vw;
}

.dataTables_length label {
    display: none;
}
.filters{
    padding-bottom: 10px;
    display: inline-flex;
}

.dropdown-content{
    background-color: #424242;
}

.select-wrapper input.select-dropdown{
color: aliceblue;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #424242 ;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #212121 ;
    min-height: 10px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #263238 ;

  }
  td{
    background-color: #424242;
  }

