<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

  <title>Blumap V3</title>
</head>

<body class="blue-grey darken-4">
  <div class="window-selection">
    <div class="row">
      <ul class="tabs tabs-fixed-width grey darken-4 swipeable-tabs">
        <li class="tab col s3"><a class="active" href="#swipe-1">Scan</a></li>
        <li class="tab col s3"><a href="#swipe-2">Dashboard</a></li>
        <li class="tab col s3"><a href="#swipe-3">Overview</a></li>
      </ul>
      <div class="col s12">
        <div id="swipe-1" class="col s12">
          <div class="contents container grey darken-3">
            <div class="row">
              <div class="col s12">
                <form action="/process_form" method="post">
                  <div class="col m3 push-m3">
                    <input placeholder="Target address" id="ip-address" name="ip-address" type="text" class="validate"
                      style="color: azure" />
                  </div>

                  <div class="col m2 push-m3">
                    <input placeholder="Notation" id="notation" name="notation" type="number" max="32" min="0"
                      class="validate" style="color: azure" readonly />
                  </div>

                  <div class="col m7"></div>

                  <div class="col s12 push-s3">
                    <label>Options:</label>
                  </div>

                  <div class="col s12 push-s3">
                    <p>
                      <label>
                        <input class="with-gap" id="top-scan" name="top-scan" type="checkbox" checked />
                        <span>Top Ports Scan</span>
                      </label>
                    </p>
                  </div>

                  <div class="col s12 push-s3">
                    <p>
                      <label>
                        <input class="with-gap" name="scan-notation" id="scan-notation" type="checkbox" />
                        <span>Subnet Scan</span>
                      </label>
                    </p>
                  </div>
                  <div class="col s6 push-s3">

                    <p>
                      <label>
                        <input class="with-gap" id="auto-scan" name="auto-scan" type="checkbox" value="False" />
                        <span>Repeat Scan</span>
                      </label>
                    </p>
                  </div>
                  <div class="col m6 s12 push-s3 pull-m1">

                    <label>
                      <input style="
                    margin-left: 10px;
                    width: 40px;
                    color: aliceblue;
                    text-align: center;" type="number" max="30" min="0" name="sleep-timer" id="sleep-timer"
                        class="sleep-timer tooltipped" data-position="right" data-tooltip="Sleep timer (Seconds)"
                        value="0" readonly>
                      <span>Sleep timer</span>
                    </label>
                  </div>



                  <div class="col s12 push-s3">
                    <button class="btn waves-effect waves-light" id="SubmitBtn" type="submit" name="action"
                      onclick="M.toast({html: 'Scan request sent!'})">
                      Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </div>

                </form>
              </div>
            </div>

            <hr>
            <div class="search container">
              <label>
                <span>Scan history</span>

                <table id="search-table" class="highlight responsive-table centered">

                  <thead>
                    <tr>
                      <th data-field="date">Date</th>
                      <th data-field="ip">IP</th>
                      <th data-field="notation">Notation</th>
                      <th data-field="itemNo">addresses found</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Gen data goes here -->
                  </tbody>
                </table>
              </label>
            </div>
          </div>
        </div>

        <div id="swipe-2" class="col s12">
          <div class="contents container chart-container grey darken-3">
            <ul class="tabs tabs-fixed-width grey darken-2">
              <li class="tab col s3"><a class="active" href="#graphs">Graphs</a></li>
              <li class="tab col s3"><a href="#network">Network (WIP)</a></li>
            </ul>
            <div id="graphs" class="col s12">
              <div class="container col s12 m7">
                <div id="open" class="chart col s12 m12" style="width: 100%; height: 400px;">
                  <script src="{{ url_for('static', filename='js/open-ports.js') }}"></script>
                </div>
                <div id="filtered" class="chart col s12 m6" style="width: 50%; height: 250px;">
                  <script src="{{ url_for('static', filename='js/filtered-ports.js') }}"></script>
                </div>


                <div id="closed" class="chart col s12 m6" style="width: 50%; height: 250px;">
                  <script src="{{ url_for('static', filename='js/closed-ports.js') }}"></script>
                </div>
              </div>

              <div class="container col s12 m5">
                <div id="os-dist" style="width: 100%; height: 400px;"></div>
                <script src="{{ url_for('static', filename='js/os-pie.js') }}"></script>
              </div>
            </div>
          </div>

          <div id="network" class="net col s12">
            <div id="network-diagram" class="chart"></div>
            <script src="{{ url_for('static', filename='js/network-diagram.js') }}"></script>
          </div>
        </div>
      </div>

      <div id="swipe-3" class="col s12">

        <table id="data-table" class="highlight responsive-table centered">
          <thead>
            <tr>
              <th data-field="date">date</th>
              <th data-field="ip">IP</th>
              <th data-field="host_name">host name</th>
              <th data-field="mac_address">mac address</th>
              <th data-field="mac_vendor">mac vendor</th>
              <th data-field="os_accuracy">os accuracy</th>
              <th data-field="os_cpe">os cpe</th>
              <th data-field="os_name">os name</th>
              <th data-field="port_closed">port closed</th>
              <th data-field="port_filtered">port filtered</th>
              <th data-field="port_open">port open</th>
            </tr>
          </thead>
          <tbody>
            <!-- Gen data goes here -->
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
<script src="{{ url_for('static', filename='js/Tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/select.js') }}"></script>
<script src="{{ url_for('static', filename='js/Tooltips.js') }}"></script>
<script src="{{ url_for('static', filename='js/enable-options.js') }}"></script>
<script src="{{ url_for('static', filename='js/search-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/Overview-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>

</html>